:root{
    --font-color: rgb(214, 214, 214);

}

html , body{
    
    margin: 0;
    background-color: #111;
    color: #eeeeee;
    font-family: sans-serif;
    text-transform: uppercase;
}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#grid{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h1{
    font-size: 2.5rem;
    color: var(--font-color);
    margin-top: 0;
}



.row{
    display: flex;
    gap: 7px;
}

.cell{
    position: relative;
    height: 8vmin;
    width: 8vmin;
}

.front-cell, .back-cell{
    color: var(--font-color);;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 700;
    position: absolute;

}

.back-cell{
    opacity: 0;
}



.cell-animate{
    animation: pop 0.1s ease-out;
}

.back-flip1{
    animation: flip 0.6s forwards;
}

.back-flip2{
    animation: flip 0.6s forwards;
    animation-delay: 0.2s;
}

.back-flip3{
    animation: flip 0.6s forwards;
    animation-delay: 0.4s;
}

.back-flip4{
    animation: flip 0.6s forwards;
    animation-delay: 0.6s;
}

.back-flip5{
    animation: flip 0.6s forwards;
    animation-delay: 0.8s;
}

.front-flip1{
    animation: front-flip 0.6s forwards;
}

.front-flip2{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.2s;
}

.front-flip3{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.4s;
}

.front-flip4{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.6s;
}

.front-flip5{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.8s;
}

@keyframes flip {
    0%{
        opacity: 0;
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes front-flip {
    50%{
        transform: rotateX(90deg);
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes pop{
    0%{
        transform: scale(0.9);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 40px;
}

.keyboard-row{
    display: flex;
    gap: 1vh;
}

.keyboard-button{
    color: var(--font-color);;
    background-color: rgb(113, 113, 113);
    width: 8vmin;
    height: 8vmin;
    border-radius: 10%;
    font-size: 3vmin;
    text-transform: uppercase;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    cursor: pointer;
}

.keyboard-button:hover{
    border: 2px solid rgb(78, 213, 120);
}

.enter-button{
    width: 18vmin;
    border-radius: 5px;
}

.backspace-button{
    width: 28vmin;
    border-radius: 5px;
}