:root{
    --font-color: rgb(214, 214, 214);

}

html , body{
    
    margin: 0;
    background-color: #111;
    color: #eeeeee;
    font-family: sans-serif;
    text-transform: uppercase;
}

*{
    box-sizing: border-box;
    text-transform: capitalize;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

hr{
    border: none;
    border-top: 1px solid rgb(88, 88, 88);
}

#grid{
    display: flex;
    flex-direction: column;
    gap: 7px;
}



.rule-wrapper{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
    opacity: 0;
    pointer-events: none;
}

.rule-panel{
    position: relative;
}
.rule-panel h4, h3{
    text-align: center;
}

.example{
    display: flex;
    gap: 5px;
}

.example-cell{
    color: var(--font-color);;
    height: 6vmin;
    width: 6vmin;
    border: 2px solid rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmin;
    font-weight: 700;
}

.green{
    background-color: #538d4e;
    border: none;
}

.yellow{
    background-color: #b59f3b;
}

.grey{
    background-color: rgb(51, 51, 51);
    border: none;
}

.heading-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.heading-section h1{
    font-size: 2.2rem;
    color: var(--font-color);
}

.heading-section i{
    color: var(--font-color);
    cursor: pointer;
    transition: 0.1s;
}

h3{
    color: blue;
}

.heading-section i:hover{
    transform: scale(1.2);
}

.row{
    display: flex;
    gap: 7px;
}

.cell{
    position: relative;
    height: 8vmin;
    width: 8vmin;
}

.front-cell, .back-cell{
    color: var(--font-color);;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    font-weight: 700;
    position: absolute;

}

.back-cell{
    opacity: 0;
}



.cell-animate{
    animation: pop 0.1s ease-out;
}

.back-flip1{
    animation: flip 0.6s forwards;
}

.back-flip2{
    animation: flip 0.6s forwards;
    animation-delay: 0.2s;
}

.back-flip3{
    animation: flip 0.6s forwards;
    animation-delay: 0.4s;
}

.back-flip4{
    animation: flip 0.6s forwards;
    animation-delay: 0.6s;
}

.back-flip5{
    animation: flip 0.6s forwards;
    animation-delay: 0.8s;
}

.front-flip1{
    animation: front-flip 0.6s forwards;
}

.front-flip2{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.2s;
}

.front-flip3{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.4s;
}

.front-flip4{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.6s;
}

.front-flip5{
    animation: front-flip 0.6s forwards;
    animation-delay: 0.8s;
}

@keyframes flip {
    
    50%{
        transform: rotateX(90deg);
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes front-flip {
    50%{
        transform: rotateX(90deg);
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes pop{
    0%{
        transform: scale(0.9);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        transform: scale(1);
    }
}

#keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 40px;
}

.keyboard-row{
    display: flex;
    gap: 1vh;
}

.keyboard-button{
    color: var(--font-color);;
    background-color: rgb(113, 113, 113);
    width: 6vmin;
    height: 6vmin;
    border-radius: 10%;
    font-size: 2.5vmin;
    text-transform: uppercase;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    cursor: pointer;
    
}

.keyboard-button:hover{
    border: 2px solid rgb(78, 213, 120);
}

.enter-button{
    width: 13vmin;
    border-radius: 5px;
}

.backspace-button{
    width: 21vmin;
    border-radius: 5px;
}

.endgame{
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 90%;
    position: absolute;
    background-color:#538d4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-200%);
    transition: 2s ease ;
    border-radius: 10px;
}

.endgame > h1, h3{
    color: white;
}

lottie-player{
    border: none;
    height: 500px;
    width: 500px;
    pointer-events: none;
}


.cross{
    position: absolute;
    top: 10px;
    right: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.cross > div {
    height: 5px;
    width: 40px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 10px;
}

.cross div:nth-child(1){
    transform: rotate(45deg);
}
.cross div:nth-child(2){
    transform: rotate(315deg);
}

.cross:hover div:nth-child(1){
    animation: spin1 0.5s ;
}
.cross:hover div:nth-child(2){
    animation: spin2 0.5s ;
    animation-delay: 0.1s;
}


@keyframes spin1 {
    50%{
        transform: rotate(225deg);
    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes spin2 {
    50%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(315deg);
    }
}